
<section class="footer">
    <div class="footer__container grid">
  
      <div class="footer__services">
        <p class="footer__title">Services</p>
          <ul class="footer__list">
            <li class="footer__items">
              <a href="" class="footer__link">Full PMS</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">White label branding</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Dedicated support team</a>
            </li>
          </ul>
      </div>
  
      
      <div class="footer__Features">
        <p class="footer__title">Features</p>
          <ul class="footer__list">
            <li class="footer__items">
              <a href="" class="footer__link">Channel Management</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Customised Website & Mobile App</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Payment processing, Paylinks & Deposits</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Multi calendar</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Pricing tool</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Owner Portal</a>
            </li>
          </ul>
      </div>
  
      <div class="footer__Features">
        <p class="footer__title-blank">test</p>
          <ul class="footer__list">
            <li class="footer__items">
              <a href="" class="footer__link">Online Check-in</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Journey</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Unified Inbox</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Customizable Analytics</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">NPS and InStay reviews</a>
            </li>
          </ul>
      </div>
  
      
      <div class="footer__Company">
        <p class="footer__title">Company</p>
          <ul class="footer__list">
            <li class="footer__items">
              <a href="" class="footer__link">About us</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Careers</a>
            </li>
            <li class="footer__items">
              <a href="" class="footer__link">Blog</a>
            </li>
          </ul>
      </div>
  
      
      <div class="footer__contact">
        <p class="footer__title">Contact</p>
          <button class="footer__button-touch">Get in touch</button>
          <button class="footer__button-quote">Get a quote</button>
      </div>
  
    </div>
  
    <div class="line"></div>
    <div class="end">
      <div class="footer__logo">
        <img src="/assets/img/Union1.png" alt="">
        <a href="#" class=""> sibo</a>
      </div>
  
      <div class="copyright">
        <p>&copy;2023 SIBO. All rights Reserved</p>
        <p>Legal Mentions</p>
        <p>Made by <U> Bruno </U></p>
      </div>
    </div>
  
  </section>
