
/*========= footer Section ========*/
.footer{
    position: absolute;
    height: 460px;
    width: 100%;
}

.footer__container{
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    margin-inline: 116px;
    justify-items: center;
    margin-top: 73px;
}

.footer__title{
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.footer__items{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 1rem;
}

.footer__list{
    padding-left: 0;
    width: max-content;
}

.footer__link{
    color: var(--dark-grey-color);
}

.footer__title-blank{
    color: var(--white-color);
}

.footer__button-touch,
.footer__button-quote{
    font-family: 'Satoshi';
    font-weight: 700;
    height: 40px;
    width: 128px;
    border-radius: 12px;
    padding-inline: 12.5px;
    font-size: 14px;
    line-height: 110%;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
    
}

.footer__button-touch{
    background-color: var(--gold-color);
    color: var(--black-color);

}

.footer__button-quote{
    background-color: var(--black-color);
    color: var(--white-color);
}

.line{
    border: 1px solid #CDCED0;
    margin: 40px 116px;
}

.end{
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.footer__logo{
    display: flex;
    margin-left: -55rem;
    align-items: center;
}

.footer__logo a{
    margin-left: 9px;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: var(--h3-font-size);
    color: var(--black-color);
}

.copyright{
    display: flex;
    margin-left: 40rem;
    font-size: 11px;
    line-height: 130%;
    text-align: center;
}
.copyright p{
    margin-right: 16px;
}

@media screen and (max-width: 740px) {
    .footer{
        height: auto;
    }
    .footer__container{
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0 0 1rem;
    }
    .copyright{
        flex-direction: column;
        margin-left: 0;
    }
    .footer__logo{
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .line{
        margin-inline: 0;
        width: 350px;
    }
    .footer__contact button{
        display: none;
    }
    .end{
        display: flex;
        flex-direction: column;
    }
    .footer__title-blank{
        display: none;
    }

}