
/*========== HEADER & NAV ==========*/

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--olive-color);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.2rem;
    width: initial;
    margin-inline: 110px;
    overflow: hidden;
}

.nav__toggle, .nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__toggle{
    color: var(--white-color);
}

.hide{
    display: none;
}

@media screen and (min-width: 767px) {
    .nav__toggle, .nav__close{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-block: 3.5rem;
        padding-top: 9rem;
    }
    .touch__button{
        position: absolute;
        top: -100%;
        width: 327px;
        height: 40px;
        border-radius: 12px;
        left: 2rem;
    }
    .header{
        height: 20rem;
    }

    .nav__logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .dropdown__content{
      flex-direction: column;
      height: auto !important;
      border-radius: 0 !important;
      padding-inline: 0 !important;
    }
    
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 14px;  
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }

  .dropdown__content {
    display: none;
    position: absolute;
    background-color: white;
    left: 0;
    border-radius: 0px 0px 24px 24px;
    z-index: 1;
    height: 200px;
    border: 1px solid #CDCED0;
    margin-top: 1rem;
    padding-inline: 116px;
  }

  .nav__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    height: 160px;
    margin-top: 1rem;
    padding-inline: 1rem;
  }

  .nav__content-text:hover{
    background-color: #f6f7fa;
  }

  .nav__content-title{
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  .nav__content-text a {
    float: none;
    color: var(--black-color);
    text-decoration: none;
    display: block;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
  }
  .nav__content-logo{
    background: var(--svg-color);
    border-radius: 12px;
    width: 48px;
    height: 48px;
  }
  .nav__content-logo img{
    border-radius: 16px;
  }

  .nav__content-text p {
    color: var(--dark-grey-color);
    font-size: 14px;
    line-height: 130%;
  }
  .show {
    display: flex;
    column-gap: 1rem;
  }

  .show-menu{
    top: 0;
    z-index: 10000;
  }
  .show-menu .touch__button{
    position: absolute;
    top: 5rem;
  }
  

.nav__link{
    float: left;
    font-size: 14px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--white-color);
}

.nav__logo{
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
}

.nav__logo svg path {
    fill: var(--svg-color);
}

.nav__logo a{
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    float: none;
}

.touch__button{
    font-family: 'Satoshi';
    font-weight: 700;
    height: 40px;
    border-radius: 12px;
    padding-inline: 12.5px;
    background-color: var(--light-olive-color);
    font-size: 14px;
    line-height: 110%;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    
}

