<section class="testimonial__section">
    <div class="slide">
  
      <div class="testimonial__text">
        <p class="testimonial__title">What our customers 
          say about us</p>
        <p class="testimonial__subtitle">“We love working with SIBO! It is very user friendly, for both us as a user and for guests that booking online! The company is always improving their systems and are a pleasure to work with!”</p>
      </div>
    
      <div class="testimonial__picture">
        <img src="assets/img/8N5A7769-scaled 1.png" alt="">
        <p class="testimonial__picture-title">Sara Shulman</p>
        <p class="testimonial__picture-subtitle">Director of Operations - Israel</p>
      </div>
  
    </div>
  </section>