<app-navbar></app-navbar>
<div class="green__background"></div>
<!--========== Hero section ==========-->
<section class="hero__section section">
  <div class="hero__text">
    <h1 class="hero__title">Grow your rental business with us</h1>
    <p class="hero__subtitle">By and for _ travel-tech vacation rental companies</p>
  </div>

  
    <div class="hero__container">
      <img src="/assets/img/Stocksy_comp_1160006 1.png" alt="" class="hero__img">
      <img src="/assets/img/883505 1.png" alt="" class="hero__img">
    </div>
</section>


<!--========== Services section ==========-->


  <app-services></app-services>
  <app-testimonial></app-testimonial>
  <app-footer></app-footer>
  