@font-face {
    font-family: 'Satoshi';
    src: url(./font/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'Inter-bold';
    src: url(./font/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(./font/Inter-Regular.ttf);
}

:root{


    /*========== Font and typography ==========*/
    --body-font:'Inter-regular';
    --title-font: 'Satoshi';
    --big-font-size: 18px;
    --medium-font-size: 16px;
    --small-font-size:14px;
    --tiny-font-size:12px;
    --h1-font-size: 56px;
    --h2-font-size: 48px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 20px;
    --h6-font-size: 16px;
    --h1-mobile-font-size: 40px;
    --h2-mobile-font-size: 32px;

    /*========== colors ==========*/
    --olive-color: #5d750f; 
    --light-olive-color:#7d913f;
    --gold-color: #e4c87f;
    --black-color: #101010;

    --light-gold-color: #f4e9cc;
    --velour-color: #560039;

    --dark-grey-color: #434649;
    --white-color: #ffffff;
    --svg-color: #ffffff;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

}

/*=========BASE========*/
html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--medium-font-size);
    background-color: var(--white-color);
    color: var(--black-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.section {
    padding-block: 7rem;
    width: 100%;
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.white-nav{
    --olive-color:white; 
    --light-olive-color:#e4c87f;
    --white-color: #101010;
    --svg-color: #5d750f;
}


 

/*========= hero Section ========*/


.green__background{
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--olive-color);
    width: 100%;
    left: 0;
    height: 867px;
}

.hero__section{
    color: var(--white-color);
}
.hero__text{
    margin-left: 116px;
    width: 576px;
}

.hero__title{
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: var(--h1-font-size);
    line-height: 110%;
    height: 124px;
    margin-bottom: 24px;
}

.hero__subtitle{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: var(--h4-font-size);
    margin-bottom: 3rem;
}

.hero__container{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 5rem;
}

.hero__img{
    border-radius: 2rem;
    height: 603px;
    width: 585px;
}

/*========= Carousel Section ========*/

.slick-prev{
    left: 25px;
}
.slick-next{
    right: 25px;
}
.slick-prev, .slick-next {
    bottom: 10px;
  }
  
  .slick-dots {
    bottom: 10px;
  }
  .slick-dots li button:before {
    color: #ccc;
  }
  .slick-dots li.slick-active button:before {
    color: #fff;
  }


/*========= responsive ========*/

@media screen and (max-width: 740px) {
    .hero__text{
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 100;
        width: auto;
        margin: auto;
        margin-left: 2rem;
    }
    .hero__title{
        font-size: var(--h1-mobile-font-size);
        line-height: 120%;
        height: auto;
    }
    .hero__container{
        grid-template-columns: repeat(1, max-content);
        margin-top: 0;
        row-gap: 1rem;
    }
    .hero__img{
        height: 350px;
        width: 327px;
    }

    .slick-next, .slick-prev{
        display: none !important;
    }

}
