@font-face {
    font-family: 'Satoshi';
    src: url(./font/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'Inter-bold';
    src: url(./font/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(./font/Inter-Regular.ttf);
}

:root{


    /*========== Font and typography ==========*/
    --body-font:'Inter-regular';
    --title-font: 'Satoshi';
    --big-font-size: 18px;
    --medium-font-size: 16px;
    --small-font-size:14px;
    --tiny-font-size:12px;
    --h1-font-size: 56px;
    --h2-font-size: 48px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 20px;
    --h6-font-size: 16px;

    /*========== colors ==========*/
    --olive-color: #5d750f; 
    --light-olive-color:#7d913f;
    --gold-color: #e4c87f;
    --black-color: #101010;

    --light-gold-color: #f4e9cc;
    --velour-color: #560039;

    --dark-grey-color: #434649;
    --white-color: #ffffff;
    --svg-color: #ffffff;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

}

/*=========BASE========*/
html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--medium-font-size);
    background-color: var(--white-color);
    color: var(--black-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.section {
    padding-block: 7rem;
    width: 100%;
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.white-nav{
    --olive-color:white; 
    --light-olive-color:#e4c87f;
    --white-color: #101010;
    --svg-color: #5d750f;
}

/*========== HEADER & NAV ==========*/

.header{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background: var(--olive-color);
}

.nav{
    height: 8.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: initial;
    margin-inline: 110px;
    overflow: hidden;
}
.nav__toggle{
    display: flex;
    color: var(--white-color);
    font-size: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.hide{
    display: none;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-block: 3.5rem;
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
    }
    .touch__button{
        position: fixed;
        top: -100%;
        width: 327px;
        height: 40px;
        border-radius: 12px;
        left: 2rem;
    }
    .header{
        height: 20rem;
    }

    .nav__logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    
    
}


.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 14px;  
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }

  .dropdown__content {
    display: none;
    position: absolute;
    background-color: white;
    left: 0;
    border-radius: 0px 0px 24px 24px;
    z-index: 1;
    height: 200px;
    border: 1px solid #CDCED0;
    margin-top: 1rem;
    padding-inline: 116px;
  }

  .nav__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    height: 160px;
    margin-top: 1rem;
    padding-inline: 1rem;
  }

  .nav__content-text:hover{
    background-color: #f6f7fa;
  }

  .nav__content-title{
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  .nav__content-text a {
    float: none;
    color: var(--black-color);
    text-decoration: none;
    display: block;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
  }
  .nav__content-logo{
    background: var(--svg-color);
    border-radius: 12px;
    width: 48px;
    height: 48px;
  }

  .nav__content-text p {
    color: var(--dark-grey-color);
    font-size: 14px;
    line-height: 130%;
  }
  .show {
    display: flex;
    column-gap: 1rem;
  }

  

  .show-menu{
    top: 0;
    z-index: 10000;
  }
  .show-menu .touch__button{
    position: fixed;
    top: 5rem;
  }
  

.nav__link{
    float: left;
    font-size: 14px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--white-color);
}

.nav__logo{
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
}

.nav__logo svg path {
    fill: var(--svg-color);
}

.nav__logo a{
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    float: none;
}

.touch__button{
    font-family: 'Satoshi';
    font-weight: 700;
    height: 40px;
    border-radius: 12px;
    padding-inline: 12.5px;
    background-color: var(--light-olive-color);
    font-size: 14px;
    line-height: 110%;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    
}



 

/*========= hero Section ========*/



.green__background{
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--olive-color);
    width: 100%;
    left: 0;
    height: 867px;
}

.hero__section{
    color: var(--white-color);
}
.hero__text{
    margin-left: 116px;
    width: 576px;
}

.hero__title{
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
    height: 124px;
    margin-bottom: 24px;
}

.hero__subtitle{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3rem;
}

.hero__container{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 5rem;
}

.hero__img{
    border-radius: 2rem;
    height: 603px;
    width: 585px;
}


/*========= Services Section ========*/

.services__info{
    width: 780px;
    margin: auto;
}

.all__in__one{
    color: var(--velour-color);
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
}

.services__title{
    color: var(--black-color);
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 16px;
}

.services__subtitle{
    color: var(--dark-grey-color);
    font-family:var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

.services__container{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 143px;
    margin-bottom: 100px;
}


.services__container-picture img{
    border-radius: 16px;
    width: 585px;
    height: 430px;
}

.services__container-top{
    display: flex;
    align-items: center;
}

.services__container-logo{
    background: var(--olive-color);
    border-radius: 16px;
    width: 64px;
    height: 64px;
    margin-right: 32px;
}


.services__container-title{
    color: var(--black-color);
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
}

.services__container-text{
    width: 585px;
    color: var(--dark-grey-color);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.services__container-button{
    height: 50px;
    width: 212px;
    border-radius: 12px;
    background-color:var(--black-color);
    font-size: 16px;
    line-height: 110%;
    font-family: 'Satoshi';
    font-weight: 700;
    color: var(--white-color);
    cursor: pointer;
}



/*========= testimonial Section ========*/

.testimonial__section{
    background: var(--black-color);
    width: 100%;
    height: 597px;
    left: 0;
}

.slide{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.testimonial__text{
    width: auto;
    margin-top: 100px;
}
.testimonial__title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: var(--white-color);
    width: 520px;
}
.testimonial__subtitle{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: var(--white-color);
    width: 584px;
}
.testimonial__picture img{
    margin-top: 100px;
    height: 270px;
    width: 300px;
    border-radius: .5rem;
}

.testimonial__picture-title{
    margin-top: 65px;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--white-color);
}

.testimonial__picture-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white-color);
}


/*========= footer Section ========*/
.footer{
    position: absolute;
    height: 460px;
    width: 100%;
}

.footer__container{
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    column-gap: 100px;
    margin-inline: 116px;
    justify-items: center;
    margin-top: 73px;
}
.footer__services{
    
}
.footer__title{
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}
.footer__list{
    padding-left: 0;
   
}

.footer__items{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.footer__link{
    
    color: var(--dark-grey-color);
}

.footer__title-blank{
    color: var(--white-color);
}

.footer__button-touch{
    font-family: 'Satoshi';
    font-weight: 700;
    height: 40px;
    width: 128px;
    border-radius: 12px;
    padding-inline: 12.5px;
    background-color: var(--gold-color);
    font-size: 14px;
    line-height: 110%;
    border: none;
    color: var(--black-color);
    cursor: pointer;
    margin-bottom: 8px;
    
}
.footer__button-quote{
    font-family: 'Satoshi';
    font-weight: 700;
    height: 40px;
    width: 128px;
    border-radius: 12px;
    padding-inline: 12.5px;
    background-color: var(--black-color);
    font-size: 14px;
    line-height: 110%;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    margin-bottom: 8px;
    
}

.line{
    border: 1px solid #CDCED0;
    margin-inline: 116px;
    margin-top: 40px;
}
.end{
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.footer__logo{
    display: flex;
    margin-left: 160px;
    align-items: center;
}

.footer__logo a{
    margin-left: 9px;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: var(--h3-font-size);
    color: var(--black-color);
}

.copyright{
    display: flex;
    margin-left: 303px;
    font-size: 11px;
    line-height: 130%;
    text-align: center;
}
.copyright p{
    margin-right: 16px;
}

.services__list{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin-bottom: 40px;
}

.services__list-container{
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.services__list-title{
    margin-left: 15px;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}
@media screen and (max-width: 740px) {
    .hero__text{
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 100;
        width: auto;
        margin: auto;
    }
    .hero__title{
        font-size: 40px;
        line-height: 120%;
    }
    .hero__container{
        grid-template-columns: repeat(1, max-content);
        margin-top: 0;
        row-gap: 1rem;
    }
    .hero__img{
        height: 350px;
        width: 327px;
    }

    .services__info{
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 100;
        width: auto;
        margin: auto;
    }

    .services__container{
        grid-template-columns: repeat(1, max-content);
        justify-items: center;
        margin-top: 2rem;
    }
    .services__container-picture img{
       margin-inline: 1rem;
       width: 327px;
       height: 310px;
    }

    .services__container-text{
        width: 327px;
    }
}
